/* Resetting default styles and applying box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic body styling */
body {
    font-family: Arial, sans-serif;
}

/* Navbar styling */
.navbar {
    background-color: #1363DF;
    color: white;
    padding: 10px 20px;
    position: relative;
}

/* Navbar container styling */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Brand styling */
.brand {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

/* Menu icon styling for mobile view */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s ease;
}

/* Navbar links styling */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
    position: relative;
    /* Ensure dropdown positioning */
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}


.mensOuterWearContainer {
    display: flex;
    justify-content: space-between;
    height: 100%;

}

.menLabelContainer {
    width: 30%;
    background-color: #1B252C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menLabel {
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.backgroundImageContainer {
    width: 100%;
}

.backgroundImage {
    width: 70%;
}

.productsSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

.filterSection {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.clothingLabel {
    text-align: start;
    font-size: 20px;
    color: #172026;
}

.filterLabel {
    text-align: start;
    padding-top: 10px;
    font-size: 20px;
    color: #172026;
}

.underLine {
    border-bottom: 2px solid #D1D3D6;
}

.filterOptionsContainer {
    margin-top: 10px;
}

.catergoryLabel {
    color: #181C24;
    font-size: 20px;
}

.checkBoxLabelContainer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.checkboxLabel {
    margin-left: 10px;
    color: #28292c;
    font-size: 16px;
}


.productsSectionContainer {
    width: 70%;
    padding: 20px;
}

.productsHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productsCardContainer {
    /* width: 100%; */
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    animation: fadeIn 0.25s ease-in-out;
    row-gap: 2rem;
    column-gap: 1.33%;
    flex-wrap: wrap;
    align-items: center;
}

.productCards {
    width: 100%;
    max-width: 320px;
    margin-bottom: 1rem;
    margin-top: 3rem;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    aspect-ratio: 4/5.2;
    height: 100%;
    min-height: auto;
    padding: 15px;
}

.noData {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #888;
    margin-top: 20px;
}

.skeleton {
    background-color: #e0e0e0;
    border-radius: 4px;
}

.productCards.skeleton {
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.productImageContainer.skeleton {
    height: 150px;
    width: 100%;
    background-color: #e0e0e0;
}

.productTitle.skeleton,
.priceValue.skeleton,
.description.skeleton {
    height: 20px;
    width: 100%;
    background-color: #e0e0e0;
}


.productImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.25rem;
    aspect-ratio: 1;
}

.productImage {
    width: 270px;
    height: 302px;
    border: 1px solid #D1D3D6;
    padding: 20px;
}

.productTitle {
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    height: 15%;
}

.priceValue {
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.description {
    margin-top: 20px;
    text-align: start;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-wrap: break-word;
}



.searchBar {
    width: 300px;
    height: 40px;
    padding: 0 10px;
    border-radius: 20px;
    border: 1px solid #545D63;
}

.resultsLabel {
    text-align: start;
    font-size: 20px;
    color: #172026;
}

.selectClass {
    width: 200px;
    height: 50px;
    padding: 0 10px 0 10px;
    border-radius: 10px;

}

.loadMoreButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.loadMoreButton {
    background-color: #1363DF;
    color: white;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    font-size: 18px;
}

.loadMoreButton:hover {
    background-color: #6ca1f1;
    color: #e3e6eb;
}

.loadLessButton {
    background-color: #1363DF;
    color: white;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    font-size: 18px;
}

.loadLessButton:hover {
    background-color: #6ca1f1;
    color: #e3e6eb;
}


.footerSection {
    margin-bottom: 10px;
}

.footerFirstSection {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.footerLabel {
    width: 20%;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #172026;
}

.SubLabelContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #545D63;
}

.followUsSubContainer {
    word-wrap: break-word;
    margin-top: 20px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #545D63;
}

.footerSecondSection {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footerVenia {
    margin: 10px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #545D63;
    text-align: start;
}

.footerVeniaCompany {
    margin: 10px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #545D63;
    text-align: center;
}


.urlContainer {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.urlLabels {
    margin-right: 20px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: #545D63;
    text-decoration: underline;
}


.toggleDescriptionButton {
    background-color: transparent;
    border: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    margin-top: 5px;
}

/* Media query for mobile view */

@media screen and (max-width:4000px) {
    .mensOuterWearContainer {
        display: flex;
        justify-content: space-between;
        height: 100%;

    }

    .menLabelContainer {
        width: 40%;
        background-color: #1B252C;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menLabel {
        font-size: 70px;
        font-family: "Poppins", sans-serif;
        letter-spacing: 3px;
        font-weight: 500;
        text-align: center;
        color: #fff;
    }

    .backgroundImageContainer {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .backgroundImage {
        width: 100%;
    }

    .productsSectionContainer {
        width: 70%;
        padding: 20px;
    }

    .productsHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .productsCardContainer {
        width: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        animation: fadeIn 0.25s ease-in-out;
        row-gap: 2rem;
        column-gap: 1.33%;
        flex-wrap: wrap;
        align-items: center;
    }

    .productCards {
        width: 100%;
        max-width: 420px;
        margin-bottom: 1rem;
        margin-top: 3rem;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        aspect-ratio: 4/5.2;
        height: 100%;
        min-height: auto;
        padding: 15px;
    }

    .productImageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0.25rem;
        aspect-ratio: 1;
    }

    .productImage {
        width: 270px;
        height: 302px;
        border: 1px solid #D1D3D6;
        padding: 20px;
    }

    .productTitle {
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-top: 20px;
        height: 15%;
    }

    .priceValue {
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    .description {
        margin-top: 20px;
        text-align: start;
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-wrap: break-word;
    }
}

@media screen and (max-width:1920px) {
    .productsSectionContainer {
        width: 70%;
        padding: 20px;
    }

    .productsHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .productsCardContainer {
        /* width: 100%; */
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        animation: fadeIn 0.25s ease-in-out;
        row-gap: 2rem;
        column-gap: 1.33%;
        flex-wrap: wrap;
        align-items: center;
    }

    .productCards {
        width: 100%;
        max-width: 320px;
        margin-bottom: 1rem;
        margin-top: 3rem;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        aspect-ratio: 4/5.2;
        height: 100%;
        min-height: auto;
        padding: 15px;
    }

    .productImageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0.25rem;
        aspect-ratio: 1;
    }

    .productImage {
        width: 270px;
        height: 302px;
        border: 1px solid #D1D3D6;
        padding: 20px;
    }

    .productTitle {
        font-size: 17px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-top: 20px;
        height: 15%;
    }

    .priceValue {
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    .description {
        margin-top: 20px;
        text-align: start;
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-wrap: break-word;
    }
}

@media screen and (max-width:1600px) {
    .productsSectionContainer {
        width: 70%;
        padding: 20px;
    }

    .productsHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .productsCardContainer {
        /* width: 100%; */
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        animation: fadeIn 0.25s ease-in-out;
        row-gap: 2rem;
        column-gap: 1.33%;
        flex-wrap: wrap;
        align-items: center;
    }

    .productCards {
        width: 100%;
        max-width: 320px;
        margin-bottom: 1rem;
        margin-top: 3rem;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        aspect-ratio: 4/5.2;
        height: 100%;
        min-height: auto;
        padding: 15px;
    }

    .productImageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0.25rem;
        aspect-ratio: 1;
    }

    .productImage {
        width: 270px;
        height: 302px;
        border: 1px solid #D1D3D6;
        padding: 20px;
    }

    .productTitle {
        font-size: 17px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-top: 20px;
        height: 18%;
    }

    .priceValue {
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    .description {
        margin-top: 20px;
        text-align: start;
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-wrap: break-word;
    }
}

@media screen and (max-width:1440px) {
    .mensOuterWearContainer {
        display: flex;
        justify-content: space-between;
        height: 100%;

    }

    .menLabelContainer {
        width: 40%;
        background-color: #1B252C;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menLabel {
        font-size: 45px;
        font-family: "Poppins", sans-serif;
        letter-spacing: 3px;
        font-weight: 500;
        text-align: center;
        color: #fff;
    }

    .backgroundImageContainer {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .backgroundImage {
        width: 100%;
    }

    .productsSectionContainer {
        width: 70%;
        padding: 20px;
    }

    .productsHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .productsCardContainer {
        /* width: 100%; */
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        animation: fadeIn 0.25s ease-in-out;
        row-gap: 2rem;
        column-gap: 1.33%;
        flex-wrap: wrap;
        align-items: center;
    }

    .productCards {
        width: 100%;
        max-width: 320px;
        margin-bottom: 1rem;
        margin-top: 3rem;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        aspect-ratio: 4/5.2;
        height: 100%;
        min-height: auto;
        padding: 15px;
    }

    .productImageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0.25rem;
        aspect-ratio: 1;
    }

    .productImage {
        width: 270px;
        height: 302px;
        border: 1px solid #D1D3D6;
        padding: 20px;
    }

    .productTitle {
        font-size: 17px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-top: 20px;
        height: 15%;
    }

    .priceValue {
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    .description {
        margin-top: 20px;
        text-align: start;
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-wrap: break-word;
    }

}

@media screen and (max-width:1280px) {
    .productsSectionContainer {
        width: 70%;
        padding: 20px;
    }

    .productsHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .productsCardContainer {
        /* width: 100%; */
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        animation: fadeIn 0.25s ease-in-out;
        row-gap: 2rem;
        column-gap: 1.33%;
        flex-wrap: wrap;
        align-items: center;
    }

    .productCards {
        width: 100%;
        max-width: 280px;
        margin-bottom: 1rem;
        margin-top: 3rem;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        aspect-ratio: 4/5.2;
        height: 100%;
        min-height: auto;
        padding: 15px;
    }

    .productImageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0.25rem;
        aspect-ratio: 1;
    }

    .productImage {
        width: 250px;
        height: 250px;
        border: 1px solid #D1D3D6;
        padding: 20px;
    }

    .productTitle {
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-top: 20px;
        height: 8%;
    }

    .priceValue {
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    .description {
        margin-top: 20px;
        text-align: start;
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-wrap: break-word;
    }
}



@media screen and (max-width:1024px) {
    .productsSectionContainer {
        width: 70%;
        padding: 20px;
    }

    .productsHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .productsCardContainer {
        /* width: 100%; */
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        animation: fadeIn 0.25s ease-in-out;
        row-gap: 2rem;
        column-gap: 1.33%;
        flex-wrap: wrap;
        align-items: center;
    }

    .productCards {
        width: 100%;
        max-width: 320px;
        margin-bottom: 1rem;
        margin-top: 3rem;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        aspect-ratio: 4/5.2;
        height: 100%;
        min-height: auto;
        padding: 15px;
    }

    .productImageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0.25rem;
        aspect-ratio: 1;
    }

    .productImage {
        width: 270px;
        height: 302px;
        border: 1px solid #D1D3D6;
        padding: 20px;
    }

    .productTitle {
        font-size: 16px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-top: 20px;
        height: 13%;
    }

    .priceValue {
        font-size: 18px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    .description {
        margin-top: 20px;
        text-align: start;
        font-size: 16px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-wrap: break-word;
    }
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #1363DF;
        flex-direction: column;
        text-align: center;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        z-index: 999;
        /* Ensure dropdown is above other content */
    }

    .nav-links.show {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .nav-links li {
        margin: 15px 0;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease, margin 0.3s ease;
    }

    .nav-links.show li {
        opacity: 1;
        transform: translateY(0);
        margin: 15px 0;
    }

    .menu-icon {
        display: flex;
    }

    .menu-icon.open .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-icon.open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.open .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }


    .mensOuterWearContainer {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        height: 100%;
        width: 100%;

    }

    .menLabelContainer {
        background-color: #1B252C;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 20%;
        position: absolute;
        left: 200px;
        top: 360px;
        z-index: 1;
    }

    .menLabel {
        font-size: 45px;
        font-family: "Poppins", sans-serif;
        letter-spacing: 3px;
        font-weight: 500;
        text-align: center;
        color: #fff;
    }

    .backgroundImageContainer {
        width: 100%;
        position: relative;

    }

    .backgroundImage {
        width: 100%;

    }

    .productsSection {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }


    .filterSection {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .clothingLabel {
        text-align: start;
        font-size: 18px;
        color: #172026;
        margin-top: 20px;
    }

    .filterLabel {
        text-align: start;
        font-size: 18px;
        color: #172026;
        margin-top: 20px;
    }

    .underLine {
        border-bottom: 2px solid #D1D3D6;
    }

    .filterOptionsContainer {
        margin-top: 10px;
        width: 100%;
    }

    .catergoryLabel {
        width: 100%;
        color: #181C24;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .checkBoxLabelContainer {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .checkboxLabel {
        width: 100%;
        margin-left: 10px;
        color: #28292c;
        font-size: 16px;
    }


    .productsSectionContainer {
        width: 100%;
        padding: 0px;
    }

    .productsHeader {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    .productsCardContainer {
        width: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        animation: fadeIn 0.25s ease-in-out;
        row-gap: 2rem;
        column-gap: 1rem;
        flex-wrap: wrap;
        align-items: center;
    }

    .productCards {
        width: 100%;
        max-width: 350px;
        margin-bottom: 1rem;
        margin-top: 3rem;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        aspect-ratio: 4/5.2;
        height: 100%;
        min-height: auto;
        margin: 15px;
        padding: 15px;
    }

    .productImageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0.25rem;
        aspect-ratio: 1;
    }


    .productTitle {
        font-size: 16px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-top: 0px;
        height: 13%;
        margin-bottom: 20px;
    }

    .priceValue {
        font-size: 16px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    .description {
        margin-top: 10px;
        text-align: start;
        font-size: 16px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-wrap: break-word;
    }

    .footerSection {
        margin-bottom: 10px;
    }

    .footerFirstSection {
        padding: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    .footerLabel {
        width: 100%;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        color: #172026;
    }

    .SubLabelContainer {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        font-size: 13px;
        font-family: "Poppins", sans-serif;
        color: #545D63;
    }

    .followUsSubContainer {
        word-wrap: break-word;
        margin-top: 20px;
        font-size: 13px;
        font-family: "Poppins", sans-serif;
        color: #545D63;
    }

    .footerSecondSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 5px;
        align-items: center;
        width: 100%;
    }

    .footerVenia {
        margin: 10px;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        color: #545D63;
        width: 100%;
        order: 3;
        text-align: center;
    }

    .footerVeniaCompany {
        margin: 10px;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        color: #545D63;
        width: 100%;
        order: 2;
        text-align: center;
    }

    .urlContainer {
        padding: 10px;
        margin: 10px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        order: 1;

    }

    .urlLabels {
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        color: #545D63;
        text-decoration: underline;
        text-align: center;
    }

}



@media screen and (max-width:425px) {
    .mensOuterWearContainer {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        height: 100%;
        width: 100%;

    }

    .menLabelContainer {
        background-color: #1B252C;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 20%;
        position: absolute;
        top: 190px;
        left: 15%;
        z-index: 99;
    }

    .menLabel {
        font-size: 35px;
        font-family: "Poppins", sans-serif;
        letter-spacing: 3px;
        font-weight: 500;
        text-align: center;
        color: #fff;
    }

    .backgroundImageContainer {
        position: relative;

    }

    .backgroundImage {
        width: 100%;

    }

    .productsSection {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }


    .filterSection {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .clothingLabel {
        text-align: start;
        font-size: 18px;
        color: #172026;
        margin-top: 20px;
    }

    .filterLabel {
        text-align: start;
        font-size: 18px;
        color: #172026;
        margin-top: 20px;
    }

    .underLine {
        border-bottom: 2px solid #D1D3D6;
    }

    .filterOptionsContainer {
        margin-top: 10px;
        width: 100%;
    }

    .catergoryLabel {
        width: 100%;
        color: #181C24;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .checkBoxLabelContainer {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .checkboxLabel {
        width: 100%;
        margin-left: 10px;
        color: #28292c;
        font-size: 16px;
    }


    .productsSectionContainer {
        width: 100%;
        padding: 0px;
    }

    .productsHeader {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-start;
        padding: 15px;
    }

    .resultsLabel {
        text-align: center;
        font-size: 18px;
        color: #172026;
        order: 3;
        width: 100%;
    }

    .selectClass {
        width: 400px;
        height: 40px;
        padding: 0 10px 0 10px;
        order: 2;
    }

    .searchBar {
        width: 400px;
        height: 40px;
        padding: 0 15px;
        border-radius: 20px;
        border: 1px solid #545D63;
    }


    .productsCardContainer {
        width: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        animation: fadeIn 0.25s ease-in-out;
        row-gap: 2rem;
        column-gap: 1.33%;
        flex-wrap: wrap;
        align-items: center;
    }

    .productCards {
        width: 100%;
        max-width: 395px;
        margin-bottom: 1rem;
        margin-top: 3rem;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        aspect-ratio: 4/5.2;
        height: 100%;
        min-height: auto;
        margin: 15px;
        padding: 15px;
    }

    .productImageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0.25rem;
        aspect-ratio: 1;
    }

    .productImage {
        width: 400px;
        height: 300px;
        border: 1px solid #D1D3D6;
        padding: 20px;
    }

    .productTitle {
        font-size: 15px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-top: 0px;
        height: 13%;
    }

    .priceValue {
        font-size: 15px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-bottom: 20px;
    }

    .description {
        margin-top: 10px;
        text-align: start;
        font-size: 15px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-wrap: break-word;
    }
}


@media screen and (max-width:375px) {
    .mensOuterWearContainer {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        height: 100%;
        width: 100%;

    }

    .menLabelContainer {
        background-color: #1B252C;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 20%;
        position: absolute;
        top: 165px;
        left: 10%;
        z-index: 99;
    }

    .menLabel {
        font-size: 35px;
        font-family: "Poppins", sans-serif;
        letter-spacing: 3px;
        font-weight: 500;
        text-align: center;
        color: #fff;
    }

    .backgroundImageContainer {
        position: relative;

    }

    .backgroundImage {
        width: 100%;

    }

    .productsSection {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }


    .filterSection {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .clothingLabel {
        text-align: start;
        font-size: 18px;
        color: #172026;
        margin-top: 20px;
    }

    .filterLabel {
        text-align: start;
        font-size: 18px;
        color: #172026;
        margin-top: 20px;
    }

    .underLine {
        border-bottom: 2px solid #D1D3D6;
    }

    .filterOptionsContainer {
        margin-top: 10px;
        width: 100%;
    }

    .catergoryLabel {
        width: 100%;
        color: #181C24;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .checkBoxLabelContainer {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .checkboxLabel {
        width: 100%;
        margin-left: 10px;
        color: #28292c;
        font-size: 16px;
    }


    .productsSectionContainer {
        width: 100%;
        padding: 0px;
    }

    .productsHeader {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-start;
        padding: 15px;
    }

    .resultsLabel {
        text-align: center;
        font-size: 18px;
        color: #172026;
        order: 3;
        width: 100%;
    }

    .selectClass {
        width: 350px;
        height: 40px;
        padding: 0 10px 0 10px;
        order: 2;
    }

    .searchBar {
        width: 350px;
        height: 40px;
        padding: 0 15px;
        border-radius: 20px;
        border: 1px solid #545D63;
    }


    .productsCardContainer {
        width: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        animation: fadeIn 0.25s ease-in-out;
        row-gap: 2rem;
        column-gap: 1.33%;
        flex-wrap: wrap;
        align-items: center;
    }

    .productCards {
        width: 100%;
        max-width: 345px;
        margin-bottom: 1rem;
        margin-top: 3rem;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        aspect-ratio: 4/5.2;
        height: 100%;
        min-height: auto;
        margin: 15px;
        padding: 15px;
    }

    .productImageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0.25rem;
        aspect-ratio: 1;
    }

    .productImage {
        width: 350px;
        height: 300px;
        border: 1px solid #D1D3D6;
        padding: 20px;
    }

    .productTitle {
        font-size: 15px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-top: 0px;
        height: 13%;
    }

    .priceValue {
        font-size: 15px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-bottom: 20px;
    }

    .description {
        margin-top: 10px;
        text-align: start;
        font-size: 15px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-wrap: break-word;
    }
}

@media screen and (max-width:320px) {
    .mensOuterWearContainer {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        height: 100%;
        width: 100%;

    }

    .menLabelContainer {
        background-color: #1B252C;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 230px;
        height: 15%;
        position: absolute;
        top: 160px;
        left: 15%;
        z-index: 99;
    }

    .menLabel {
        font-size: 25px;
        font-family: "Poppins", sans-serif;
        letter-spacing: 3px;
        font-weight: 500;
        text-align: center;
        color: #fff;
    }

    .backgroundImageContainer {
        position: relative;

    }

    .backgroundImage {
        width: 100%;

    }

    .productsSection {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }


    .filterSection {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .clothingLabel {
        text-align: start;
        font-size: 18px;
        color: #172026;
    }

    .filterLabel {
        text-align: start;
        font-size: 18px;
        color: #172026;
        margin-top: 20px;
    }

    .underLine {
        border-bottom: 2px solid #D1D3D6;
    }

    .filterOptionsContainer {
        margin-top: 10px;
        width: 100%;
    }

    .catergoryLabel {
        width: 100%;
        color: #181C24;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .checkBoxLabelContainer {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .checkboxLabel {
        width: 100%;
        margin-left: 10px;
        color: #28292c;
        font-size: 16px;
    }


    .productsSectionContainer {
        width: 100%;
        padding: 0px;
    }

    .productsHeader {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: flex-start;
        padding: 15px;
    }

    .resultsLabel {
        text-align: center;
        font-size: 18px;
        color: #172026;
        order: 3;
        width: 100%;
    }

    .selectClass {
        width: 290px;
        height: 40px;
        padding: 0 10px 0 10px;
        order: 2;
    }

    .searchBar {
        width: 290px;
        height: 40px;
        padding: 0 15px;
        border-radius: 20px;
        border: 1px solid #545D63;
    }

    .productsCardContainer {
        width: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        animation: fadeIn 0.25s ease-in-out;
        row-gap: 2rem;
        column-gap: 1.33%;
        flex-wrap: wrap;
        align-items: center;
    }

    .productCards {
        width: 100%;
        max-width: 290px;
        margin-bottom: 1rem;
        margin-top: 3rem;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        aspect-ratio: 4/5.2;
        height: 100%;
        min-height: auto;
        margin: 15px;
        padding: 15px;
    }

    .productImageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 0.25rem;
        aspect-ratio: 1;
    }

    .productImage {
        width: 200px;
        height: 250px;
        border: 1px solid #D1D3D6;
        padding: 20px;
    }

    .productTitle {
        font-size: 15px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-top: 0px;
        height: 13%;
    }

    .priceValue {
        font-size: 15px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-bottom: 20px;
    }

    .description {
        margin-top: 10px;
        text-align: start;
        font-size: 15px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        word-wrap: break-word;
    }
}